a {
    text-decoration: none;
}

ul {
    list-style-position: inside;
    font-family: Raleway;
    list-style-type: none;
}

h1 {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h3 {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

body {
    background: #FFFFFF;
}

.qButton {
    border-radius: 10px;
    border: 2px solid #9369E8;
    height: 40px;
    width: 120px;
    cursor: pointer;
    background: #9369E8;
    text-align: center;
    opacity: 1;    
}
#hangmanBtn {
    width: 300px; 
    margin-left: auto; 
    margin-right: auto
}

#qstionMk {
    font-family: Raleway, Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    position: relative;
    bottom: 14px;
    font-size: x-large;
    color: #ffffff;
    font: bold;
}
